*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --purple: #362655;
    --light-purple: #f0e7f8;
    --white: #ffffff;
    --grey: #808080;

}


body {
    background-color: var(--white);
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

header {
    display: inline;
    justify-content: space-around;
    padding: 10px;
    padding-top: 2px;
    width: 100%;
}

button {
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
}

.btn:hover {
    opacity: 0.5;
    border: none;
}

.highScore {
    color: var(--purple);
    text-align: left;
    float: left;
}

.timer-count {
    text-align: right;
    float: right;
}


.info,
.container {
    width: 500px;
    text-align: center;
}
.info .title {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0px;

}



.hide {
    display: none;
}

#question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#correct,
#wrong {
    color: var(--grey);
    

}