*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --purple: #362655;
    --light-purple: #f0e7f8;
    --white: #ffffff;
    --grey: #a1a1a1;

}


body {
    background-color: var(--white);
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 2px;
    width: 100%;
}

button {
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    height: fit-content;
    align-self: center;
    width: fit-content;
}


.btn:hover {
    opacity: 0.5;
    border: none;
}

.highscores {
    color: var(--purple);
    text-align: left;
    float: left;
    cursor: context-menu;
}

.timer-count {
    text-align: right;
    float: right;
}


.info {
    width: 30%;
    text-align: center;
}

.info .title {
    align-items: center;
    padding: 10px;
    /* font-size: 36px; */
    margin-bottom: auto;
}

h1 {
    font-size: 36px;
}

.container {
    width: 24%;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0px;

}

ul {
    padding-left: 0%;
}


.hide {
    display: none;
}

#question {
    text-align: left;
}

#correct,
#wrong {
    color: var(--grey);
    text-align: start;
    border-top: 2px solid var(--grey);
}

#initials {
    box-sizing: border-box;
    margin: 8px 20px;
    padding: 5px;
    width: 50%;
}

form {
    display: flex;
    /* flex-flow: row wrap; */
}

label {
    align-self: center;
}

section {
    width: 40%;
}

ol {
    background-color: var(--light-purple);
    color: var(--purple);
}


@media screen and (max-width: 770px) {
    .info,
    .container,
    section {
        width: 80%;
    }

}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

}